/*
        RESET
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #eeeeee;
    color: #333333;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

/*
        GRID
*/

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
}

nav {
    align-content: center;
    display: grid;
    grid-column: 1/-1;
    grid-row: 1;
    justify-content: left;
}

section {
    grid-column: 1/-1;
}

/*
        NAV
*/

nav {
    background-color: #003366;
    padding: 5px;
}

nav a {
    color: #ffffff;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    width: 100%;
}

nav ul li {
    background-color: #003366;
    width: 100%;
}

/*
        ANIMATION AND TRANSITION
*/

.animation {
    background-color: #006600;
    width: 50px;
    height: 50px;
    animation: change 2s 2 alternate;
    -webkit-animation: change 2s 2 alternate infinite;
    -moz-animation: change 2s 2 alternate infinite;
    -o-animation: change 2s 2 alternate infinite;
}

@keyframes change {
    0% {}
    100% {
        background-color: #660000;
        width: 100px;
        height: 100px;
    }
}

@-webkit-keyframes change {
    0% { }
    100% {
        background-color: #660000;
        width: 100px;
        height: 100px;
    }
}

@-moz-keyframes change {
    0% { }
    100% {
        background-color: #660000;
        width: 100px;
        height: 100px;
    }
}

@-o-keyframes change {
    0% { }
    100% {
        background-color: #660000;
        width: 100px;
        height: 100px;
    }
}

@keyframes change {
    0% { }
    100% {
        background-color: #660000;
        width: 100px;
        height: 100px;
    }
}

.transit {
    background-color: #000099;
    width: 50px;
    height: 50px;
    transition: width 2s, height 3s, background-color 5s;
}

.transit:hover {
    background-color: #ffcc00;
    width: 100px;
    height: 100px;
}

/*
    LISTS 
*/

.dropdown {
    background-color: #660000;
}

.dropdown ul {
    background-color: #660000;
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown>ul>li {
    background-color: #660000;
    color: #ffffff;
    display: block;
    float: left;
    width: 150px;
    padding: 10px;
}

.dropdown>ul>li>ul>li {
    padding: 10px 0;
}

.dropdown>ul>li:hover li {
    display: block;
}

.dropdown ul ul li {
    display: none;
}

.nested {
    background-color: #cccccc;
    padding: 20px;
    margin: 20px 0;
    list-style: none;
    text-align: center;
}

.nested>li {
    padding: 10px 0;
}

.nested ol {
    list-style: inside;
    list-style-type: upper-roman;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nested ol li {
    text-align: center;
    width: 100%;
}

.nested>li:nth-child(odd) {
    background-color: #99ffff;
}

.nested>li:nth-child(even) {
    background-color: #ffff99;
}

.rainbow {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px 0;
}

.rainbow>li:nth-child(odd) {
    color: red;
}

.rainbow>li:nth-child(even) {
    color: green;
}

/*
        THE REST
*/

a {
    text-decoration: none;
}

.clear {
    clear: both;
}

h1, h2, h3, h4, h5, h6 {
    color: #003366;
    font-weight: bold;
    margin: 10px 0 5px 0;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2.0em;
}

h4 {
    font-size: 1.7em;
}

h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1.2em;
}

p {
    margin: 5px 0 5px 0;
}

.square {
    max-width: 400px;
    margin: auto;
}

.square__form {
    border: 2px solid #660000;
    margin: 30px auto;
    padding: 10px;
}

section {
    padding: 5px;
}

/* 
        MEDIA QUERIES 
*/

@media screen and (min-width: 900px) {
    section {
        grid-column: 4/10;
    }
    nav {
        grid-column: 4/10;
    }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
    section {
        grid-column: 2/12;
    }
    nav {
        grid-column: 2/12;
    }
}

@media screen and (min-width: 600px) {
    section {
        padding: 20px;
    }
    nav {
        padding: 0;
    }
    nav a {
        padding: 10px 20px;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
    }
    nav ul li {
        float: left;
        position: relative;
        width: 160px;
        padding: 0;
    }
}